body {
    font-size: 1.25rem;
}

.avatar {
    max-width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
}