body {
    font-size: 1.25rem;
}

.avatar {
    max-width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    /* background-color: #87CEFA; */
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 0 auto; 
}

.mt-3 button {
    background-color: #7B68EE;
    color: black;
}

.forms div{
    padding-bottom: 2rem;
}

.forms button {
    background-color: 	#7B68EE;
    border-radius: 5px;
}

