/* 
.container {
    display: flex;
    flex-direction: column;
    min-height: 93vh;
}

.content {
    flex: 1;
}

body {
    font-size: 1.25rem;
    height: 100%;
} */

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 0 auto; 
}